
<%= link_to "Add Company", new_company_path, class: "" %>
<%= link_to "Sort Companies", companies_path, class: "" %>

<div id="company_table">
  <div class="company_table_row">
    <div class= "company_table_header"><%= link_to "List", pages_list_path %></div>
    <div class= "company_table_header"><%= link_to "Advocate", pages_advocate_path %></div>
    <div class= "company_table_header"><%= link_to "Motivation", pages_motivation_path %></div>
    <div class= "company_table_header"><%= link_to "Posting", pages_posting_path %></div>
  </div>

  <% @companies.each_with_index do |company, i| %>
    <div class="company_table_row <%= 'highlighted' if i % 2 == 1 %> <%= 'last' if i == @companies.length-1 %>">

      <div class="company_table_cell"><%= company.name %></div>

      <div class="company_table_cell">
        <div class="slider <%= company.advocate ? 'yes': 'no' %>" id="<%= 'slider_' + company.id.to_s%>">
          <span><%= company.advocate ? 'YES': 'NO' %></span>
          <input type="checkbox" value="None" id="<%= 'slider_input_' + company.id.to_s%>" name="check" <%= 'checked' if company.advocate %>/>
          <label id="<%= 'slider_label_' + company.id.to_s%>" for="<%= 'slider_input_' + company.id.to_s%>"></label>
        </div>
        <%= link_to "view advocates", "#", class: "view_advocates", id: "view_advocates_id_#{company.id}" %>
      </div>

      <div class="company_table_cell">
        <select class="company_motivation" id="<%= 'company_motivation_' + company.id.to_s%>">
          <option value="-1"></option>
          <% Array(0..5).each do |num| %>
            <option <%="selected='selected'" if company.motivation == num%> value="<%= num.to_s %>"><%= num %></option>
          <% end %>
        </select>
      </div>


      <div class="company_table_cell">
        <select class="company_posting" id="<%= 'company_posting_' + company.id.to_s%>">
          <option value="-1"></option>
            <% Array(1..5).each do |num| %>
              <option <%="selected='selected'" if company.posting == num %> value="<%= num.to_s %>"><%= num %></option>
            <% end %>
        </select>
      </div>

    </div><!-- ROW -->


    <div class="advocate_table" id="advocate_id_<%=company.id%>">
      <h2><%= company.name + ' Advocates' %></h2>
      <div class="advocate_table_row header">
        <div class="advocate_table_header">FIRST NAME</div>
        <div class="advocate_table_header">LAST NAME</div>
        <div class="advocate_table_header">EMAIL</div>
        <div class="advocate_table_header">PHONE NUMBER</div>
        <div class="advocate_table_header">LINKEDIN</div>
        <div class="advocate_table_header">ACTION</div>
      </div>

      <% company.advocates.each do |advocate| %>
        <div class="advocate_table_row">
          <div class="advocate_table_cell"><%= advocate.first_name %></div>
          <div class="advocate_table_cell"><%= advocate.last_name %></div>
          <div class="advocate_table_cell"><%= advocate.email %></div>
          <div class="advocate_table_cell"><%= advocate.phone_number%></div>
          <div class="advocate_table_cell">
            <% if !advocate.linkedin.empty?  %>
              <%= link_to "LinkedIn", advocate.linkedin %>
            <%else %>
              <%= link_to "add" %>
            <% end %>
          </div>
          <div class="advocate_table_cell"><%= link_to "edit" %></div>
        </div>
      <% end %>



      <div class="advocate_table_row">
        <%= form_for [company, @advocate], :html => { class: "advocate_form", id: "advocate_form_#{company.id}" } do |f| %>
          <div class="advocate_table_cell"><%= f.text_field :first_name, placeholder: "First Name" %></div>
          <div class="advocate_table_cell"><%= f.text_field :last_name, placeholder: "Last Name" %></div>
          <div class="advocate_table_cell"><%= f.email_field :email, placeholder: "email@example.com" %></div>
          <div class="advocate_table_cell"><%= f.telephone_field :phone_number , placeholder: "(123) 456-7890"%></div>
          <div class="advocate_table_cell"><%= f.url_field :linkedin, placeholder: "https://www.linkedin.com..." %></div>
          <div class="advocate_table_cell"><%= f.submit "Add Advocate", class: "advocate_submit" %></div>
        <% end %>
      </div>


    </div><!-- advocate_table -->

  <% end %>
</div><!-- company_table -->



