
<%= link_to "Add Company", new_company_path, class: "" %>
<%= link_to "Sort Companies", companies_path, class: "" %>

<div class="table">
  <div class="row">
    <div class= "cell header"><%= link_to "List", pages_list_path %></div>
    <div class= "cell header"><%= link_to "Advocate", pages_advocate_path %></div>
    <div class= "cell header"><%= link_to "Motivation", pages_motivation_path %></div>
    <div class= "cell header"><%= link_to "Posting", pages_posting_path %></div>
  </div>

  <% @companies.each_with_index do |company, i| %>
    <div class="row <%= 'highlighted' if i % 2 == 1 %> <%= 'last' if i == @companies.length-1 %>">
      <div class="cell"><%= company.name %></div>

      <div class="cell">
        <div class="slider <%= company.advocate ? 'yes': 'no' %>" id="<%= 'slider_' + company.id.to_s%>">
          <span><%= company.advocate ? 'YES': 'NO' %></span>
          <input type="checkbox" value="None" id="<%= 'slider_input_' + company.id.to_s%>" name="check" <%= 'checked' if company.advocate %>/>
          <label id="<%= 'slider_label_' + company.id.to_s%>" for="<%= 'slider_input_' + company.id.to_s%>"></label>
        </div>
        <%= link_to "view advocates", "#", class: "view_advocates", id: "view_advocates_id_#{company.id}" %>
      </div>

      <div class="cell">
        <select class="company_motivation" id="<%= 'company_motivation_' + company.id.to_s%>">
          <option value="-1"></option>
          <% Array(0..5).each do |num| %>
            <option <%="selected='selected'" if company.motivation == num%> value="<%= num.to_s %>"><%= num %></option>
          <% end %>
        </select>
      </div>


      <div class="cell">
        <select class="company_posting" id="<%= 'company_posting_' + company.id.to_s%>">
          <option value="-1"></option>
            <% Array(1..5).each do |num| %>
              <option <%="selected='selected'" if company.posting == num %> value="<%= num.to_s %>"><%= num %></option>
            <% end %>
        </select>
      </div>

    </div><!-- ROW -->


    <div class="advocates" id="advocate_id_<%=company.id%>">
      <p><%= i %></p>
      <p>J Jobes</p>
      <p>Add Advocate</p>
    </div>

  <% end %>
</div><!-- TABLE -->



